/* GMOS.css */

body {
    background: #FFFFFF;
    font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	font-style: normal;
}

h1 {
    color: black;
	font-size: 24pt;
	font-weight: normal;
	font-style: normal;	
    border-bottom: 1px solid black;
}

h2 {
    color: black;
	font-size: 20pt;
	font-weight: normal;
	font-style: normal;
}

h3 {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 16pt;
	font-weight: normal;
	font-style: normal;	
}

#divConsole {
    border: 2px solid black;
    margin: 4px;
    width: 523px;
    height: 523px;
    overflow-y: auto;
}

#display {
	background-color: #FFFFFF;
	cursor: default;
    outline: none;
}

.normal_button {
	width: 100px;
}

#footerBar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    background: #FFFFFF;
    border-top: 1px solid black;
}
